@font-face{
    font-family: GothamLight;
    src: url(../fonts/GothamLight.ttf) format("truetype");
}

@font-face{
    font-family: Charcoal;
    src: url(../fonts/Charcoal.ttf) format("truetype");
}

body{
    font-family: GothamLight !important;
}

/* MENU LATERAL */
h3.menu-title{
    font-family: GothamLight !important;
    color: #fff !important;/*#878787 !important;*/
}

.navbar .navbar-nav li > a {
    font-family: GothamLight !important;
    color: #fff !important;
}

aside.left-panel{
    background: rgb(31,78,120);
}

.navbar {
    background: rgba(6, 78, 125, 0);
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
    background: rgb(31,78,120);
}

.menutoggle {
    background: rgba(6, 78, 125, 0.88);
}

.navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:hover .menu-icon {
    color: #fff;
}

/* Estilos personalizados */
.btn-playerytees{
    background-color: rgb(31, 78, 120);
    border-color: rgb(31, 78, 120);
    color: #fff;
}

.text-playerytees{
    color: rgb(31,78,120);
    font-weight: bold;
}

/* Datatables Paginacion */
.dataTables_paginate .pagination li:hover a {
    background-color: rgb(31, 78, 120);
    border-color: rgb(31, 78, 120);
}

.dataTables_paginate .pagination li.active a {
    background: rgb(31, 78, 120);
    border-color: rgb(31, 78, 120);
    color: #fff;
}

/* Paginación Datatables Movil */
@media screen and (max-width: 425px) {
    div.dataTables_info {
        display: none;
    }

    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #divBuscarxcodigo {
        display: none;
    }
}